
<div class="row">
    <div class="offset-2 col-8">

     <div class="mx-auto" style="width: 200px;">
         <a routerLink="/tasks/add" class="btn btn-success btn-block">add</a></div>  
        <table class="table tabe-hover table-striped table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>DESCRIPTION</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>enma</td>
                    <td>hamdi</td>
                    <td>ijnoihhbub</td>
                    <td class="text-center">
                        <a   [routerLink]="['/tasks/update/', 1]" class="btn btn-secondary mr-2">Update</a>
                        <a  class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>