<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
<form #regForm="ngForm" (ngSubmit)="Registers(regForm)" novalidate>
 <h2 class="text-center">Registration Form</h2> 
 <div class="form-group">
   <input type="text" class="form-control" required  #firstname="ngModel" placeholder="Firste Name" name="firstname" ngModel>
 </div>
 <div class="form-group">
  <input type="text" class="form-control" required #lastname="ngModel" placeholder="Last Name" name="lastname" ngModel>
</div>
<div class="form-group">
  <input type="email" class="form-control" required email #email="ngModel" placeholder="Email" name="email" ngModel>
</div>
<div class="form-group">
  <input type="text" class="form-control" required minlength="8" maxlength="13" pattern="^[0-9]+$"  placeholder="Phone" name="phone" ngModel>
</div>
<div class="form-group">
  <input type="password" class="form-control" required minlength="6" #password="ngModel"  placeholder="Password" name="password" ngModel>
</div>
<div class="text-center">
  <button type="submit" class="btn-btn-primary"  ngModel>Register</button>
</div>
</form>
<br>



<div *ngIf="data!=null">
  <h3>Submitted Date</h3>
<p>First Name:{{data.firstname}}</p>
<p>Last Name:{{data.lastname}}</p>
<p>Email:{{data.email}}</p>
<p>Phone:{{data.phone}}</p>
<p>Password:{{data.password}}</p>
</div>

    </div>
  </div>
</div> -->

<!-- 
 <div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
<form #regForm="ngForm" (ngSubmit)="Registers(regForm)" novalidate>
 <h2 class="text-center">Registration Form</h2> 

 
 <div class="form-group">
   <input type="text" class="form-control" placeholder="Firste Name" name="firstname" required 
   [ngClass]="{ 'is-invalid': submitted===true && firstname.length <=4 , 'is-valid':submitted===true && firstname.length >4 }" [(ngModel)]="firstname">
      <div *ngif="submitted" class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required placeholder="Last Name" name="lastname" required 
    [ngClass]="{ 'is-invalid': submitted===true && lastname.length <=4 , 'is-valid':submitted===true && lastname.length >4 }" [(ngModel)]="lastname">
       <div *ngif="submitted" class="invalid-feedback"></div>
   </div>

   <div class="form-group">
    <input  type="email"  class="form-control" required placeholder="Email"
      [ngClass]="{ 'is-invalid': submitted && email.indexOf('@') < 1,'is-valid':submitted && email.indexOf('@') >1}" >
     
       <div *ngif="submitted" class="invalid-feedback"></div>
   </div>

<div class="form-group">
  <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted===false && phone.length<=7, 'is-valid': submitted===true && phone.length>8}" 
   required pattern="^[0-9]+$"  placeholder="Phone" [(ngModel)]="phone">
  <div *ngif="submitted" class="invalid-feedback"></div>
</div>
<div class="form-group">
  <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted===false && password.length<=7, 'is-valid': submitted===true  && password.length>=8 }" 
    required   placeholder="Password" [(ngModel)]="password">
  <div *ngif="submitted" class="invalid-feedback"></div>
</div>
<div class="text-center">
  <button type="submit" class="btn-btn-primary">Register</button>
</div>
</form>
<br>



<div *ngIf="data!=null">
  <h3>Submitted Date</h3>
<p>First Name:{{data.firstname}}</p>
<p>Last Name:{{data.lastname}}</p>
<p>Email:{{data.email}}</p>
<p>Phone:{{data.phone}}</p>
<p>Password:{{data.password}}</p>
</div>

    </div>
  </div>
</div>  -->
 <table class="table tabe-hover table-striped table-bordered">
  <thead class="table-dark">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Telephonne</th>
    <th>email</th>
  </tr>
</thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.name}}</td>
    <td>{{user.age}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.email}}</td>
  </tr>
</tbody>
</table> 





